<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
	<appSettings>
		<!-- 入料站 -->
		<add key="PutStation" value="1"/>
		<!-- 組裝站 -->
		<add key="LidStation" value="5"/>
		<!-- 螺帽站 -->
		<add key="NutStation" value="8"/>
		<!-- 折彎站 -->
		<add key="BendStation" value="9,10"/>
		<!-- 下壓站 -->
		<add key="PlateStation" value="11"/>
		<!-- 測高站 -->
		<add key="EstHeiStation" value="13"/>
		<!-- NG站 -->
		<add key="NgStation" value="14"/>
		<!-- 掃描站 -->
		<add key="ScanStation" value="16"/>
		<!-- 雷雕站 -->
		<add key="MarkStation" value="17"/>
		<!-- 出料站 -->
		<add key="OutStation" value="20"/>
		<!-- 重複掃描上限 -->
		<add key="ReScanCountLimit" value="5"/>
	</appSettings>
</configuration>
