<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
	<!--[變數] 文字樣板 -->
	<variable name="Layout" value="${longdate} | ${level:uppercase=true} | ${logger} | ${message} ${newline}"/>
	<variable name="LayoutFatal" value="${longdate} | ${level:uppercase=true} | ${logger} | ${message} | ${exception:format=tostring} ${newline}"/>

	<!--[變數] 檔案位置 -->
	<variable name="LogTxtDir" value="${specialfolder:CommonApplicationData}/4DMEN/Logs/${date:format=yyyy-MM}/"/>
	<variable name="LogTxtLocation" value="${LogTxtDir}/Logger_${shortdate}.log"/>
	<variable name="LogTxtLocationTrace" value="${LogTxtDir}/Trace_${shortdate}.log"/>
	<variable name="LogTxtLocationFatal" value="${LogTxtDir}/FatalFile_${shortdate}.log"/>
  <targets>
	  
	  <!--[設定] 寫入目標-->
	  <target name="File" xsi:type="File" fileName="${LogTxtLocation}" layout="${Layout}" encoding="utf-8" />
	  <target name="FileTrace" xsi:type="File" fileName="${LogTxtLocationTrace}" layout="${Layout}" encoding="utf-8" />
	  <target name="FileFatal" xsi:type="File" fileName="${LogTxtLocationFatal}" layout="${LayoutFatal}" encoding="utf-8" />
  </targets>

  <rules>
	  <logger name="*" levels="Debug,Info,Warn" writeTo="File" />
	  <logger name="*" levels="Trace" writeTo="FileTrace" />
	  <logger name="*" levels="Error,Fatal" writeTo="FileFatal" />
  </rules>
</nlog>
